@charset "utf-8";

// Override default Bulma colors
$primary: #A3D9B1;
$secondary: #5D6D7E;
$link: #8AC7A5;
$info: #BDC3C7;
$success: #A3D9B1;
$warning: #F7DC6F;
$danger: #E59866;

@import "../node_modules/bulma/bulma.sass";