@charset "utf-8";

// Override default Bulma colors
$primary: #a3d9b1;
$secondary: #5d6d7e;
$link: #8ac7a5;
$info: #bdc3c7;
$success: #a3d9b1;
$warning: #f7dc6f;
$danger: #e59866;

@import '../node_modules/bulma/bulma.sass';
