name: Lint and test


on:
  pull_request:
  push:
    branches:
      - main

env:
  PNPM_VERSION: 10

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        id: pnpm-install
        with:
          version: ${{ env.PNPM_VERSION }}
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: pnpm
      - run: pnpm install
      - run: pnpm run build

  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        id: pnpm-install
        with:
          version: ${{ env.PNPM_VERSION }}
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: pnpm
      - run: pnpm install
      - run: pnpm run check

